@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');            
@import url('_variables.css');
@import url('_hero.css');
@import url('_background.css');
@import url('_middle.css');



* {
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--main-font);
}


.content-wrap {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
}

.d-flex {
	display: flex;
}

.r-flex {
	display: flex;
}

.t-bold {
	font-weight: 700;
}

.uppercase {
	text-transform: none;
}

.btn {
	font-size: .875rem;
	text-transform: none;
	cursor: pointer;
}

.hide-mobile {
	display: none;
}

.hide {
	display: none;
}

.menu-close {
	height: 0;
	overflow: hidden;
	transition: all 1s ease;
}

.pull-r {
	margin-left: auto;
}

@media (min-width:768px){
	.hide-mobile {
		display: flex;
	}
	.hide-desktop {
		display: none;
	}
}